.products-page {
  text-align: center;
  padding-top: 90px;
  padding-bottom: 50px;
  background: #f6f7f8;
}

.add-product-form {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.add-product-form input {
  padding: 10px 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
  background-color: #fff;
}

.add-btn {
  background-color: #e5e5e5;
  color: #333;
  font-weight: 600;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 16px;
  cursor: pointer;
}
.add-btn:hover {
  background-color: #dcdcdc;
}

.product-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.product-card {
  background: #fff;
  width: 240px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.prod-info {
  margin-bottom: 8px;
  color: #333;
}

.delete-btn {
  background: #f3f3f3;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 6px 10px;
  cursor: pointer;
  transition: 0.2s;
}

.delete-btn:hover {
  background: #ffdfe0;
  border-color: #e06b6b;
  color: #c50a0a;
}
