.header {
  background-color: #1976d2;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.navbar a.active {
  border-bottom: 2px solid white;
}

.navbar a:hover {
  opacity: 0.8;
}
