@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@400;600&display=swap');

body {
  direction: rtl;
  font-family: 'Vazirmatn', sans-serif;
  margin: 0;
  background-color: #f9f9f9;
}

h2 {
  color: #1976d2;
}
